{% extends "layouts/main.njk" %}

{% from "govuk/components/phase-banner/macro.njk" import govukPhaseBanner %}

{% block beforeContent %}
  {{ govukPhaseBanner({
    tag: {
      text: "Alpha"
    },
    html: "This is a fictional service."
  }) }}
{% endblock %}

{% block mainContent %}
  <h1 class="govuk-heading-xl">Welcome to the fictional service</h1>
  
  <p class="govuk-body">This is the home page for Ministry of Unnecessary Paperwork.</p>
{% endblock %} 