{% extends "govuk/template.njk" %}

{% from "govuk/components/header/macro.njk" import govukHeader %}
{% from "govuk/components/footer/macro.njk" import govukFooter %}
{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/error-summary/macro.njk" import govukErrorSummary %}
{% from "govuk/components/fieldset/macro.njk" import govukFieldset %}
{% from "govuk/components/input/macro.njk" import govukInput %}
{% from "govuk/components/textarea/macro.njk" import govukTextarea %}
{% from "govuk/components/table/macro.njk" import govukTable %}

{% block head %}
  <link href="/govuk/govuk-frontend.min.css" rel="stylesheet">
  <link href="/assets/css/main.css" rel="stylesheet">

  <title>{{ pageTitle }} - GOV.UK</title>
{% endblock %}

{% block header %}
  {{ govukHeader({
    homepageUrl: "/",
    serviceName: "Ministry of Unnecessary Paperwork",
    serviceUrl: "/"
  }) }}
{% endblock %}

{% block beforeContent %}
  {% block phaseBanner %}{% endblock %}
{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      {% block mainContent %}{% endblock %}
    </div>
  </div>
{% endblock %}

{% block footer %}
  {{ govukFooter({
    meta: {
      items: [
        {
          href: "#",
          text: "Manage your prototype"
        },
        {
          href: "#",
          text: "Clear data"
        }
      ]
    },
    contentLicence: {
      html: 'All content is available under the <a class="govuk-footer__link" href="https://www.nationalarchives.gov.uk/doc/open-government-licence/version/3/">Open Government Licence v3.0</a>, except where otherwise stated'
    },
    copyright: {
      text: "© Crown copyright"
    }
  }) }}
{% endblock %}

{% block bodyEnd %}
  <script src="/govuk/govuk-frontend.min.js"></script>
  <script>
    window.GOVUKFrontend.initAll()
  </script>
{% endblock %} 